/* =======================
   Page Base
   ======================= */
:root {
    --next-container-height: 91px;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #1A1A1A, #000000);
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    min-height: calc(100vh - 1rem);
}

@media screen and (max-width: 580px) {
    body {
        padding-bottom: var(--next-container-height);
        min-height: calc(100vh - 1rem - var(--next-container-height));
    }
}

a {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.gradient {
    background: linear-gradient(45deg, #FDC090 0%, #B8B7F7 100%);
}

/* =======================
   Logo and description
   ======================= */

.logo,
.logo-canvas {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.logo {
    margin: 1.5rem;
    margin-top: 0;
}

.rated,
.rated-canvas {
    color: #E5A000;
}

.rated {
    font-size: 48px;
    margin-right: 0.3em;
}

.by-bibs {
    font-size: 2rem;
}

.description {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 100%;
    padding: 0 2em;
    margin-bottom: 30px
}

@media screen and (min-width: 580px) {
    .description {
        margin-bottom: 48px;
    }
}


/* =======================
   Header and Content
   ======================= */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1em;
}

@media screen and (min-width: 820px) {
    .header {
        width: 800px;
        margin: auto;
    }
}

#back {
    cursor: pointer;
}

/* =======================
   Page Navigation (Steps)
   ======================= */

.step-wrapper {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.step-slider {
    display: flex;
    transition: transform 0.6s ease;
}

.step {
    width: 100vw;
    flex-shrink: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.step-label {
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.01px;
    color: #F5F5F5;
    text-align: left;
}

.step.visible {
    visibility: visible;
}

.step-content {
    margin: 0;
}

#previous {
    cursor: pointer;
}

#back {
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 1;
}

#back.disabled {
    opacity: 0;
    cursor: auto;
}

#platform-container {
    margin-top: 48px;
}

#platform-label {
    margin-bottom: 24px;
}

@media screen and (max-width: 433px) {
    #platform-container {
        margin-left: 9vw;
        margin-right: 9vw;
    }
}

/* =======================
   Navigation: Next Button
   ======================= */

.next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: var(--next-container-height);
    pointer-events: auto;
    z-index: 5;
    margin-top: 0;
    background: #1A1A1A;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 345px;
    height: 49px;
    background: #E5A000;
    color: #2C2C2C;
    border-radius: 16px;
    transition: background 0.3s ease;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    .btn {
        width: 90vw;
    }
}

.btn.disabled {
    background: #D9D9D9;
    color: #757575;
    cursor: not-allowed;
    pointer-events: none;
}

.next-icon {
    width: 25px;
    height: 25px;
}

/* =======================
   Bottomsheet
   ======================= */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.bottomsheet {
    z-index: 15;
}

.bottomsheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    background: #1A1A1A;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: transform 0.6s ease-in-out;
    max-height: 80%;
    display: flex;
}

.bottomsheet.active {
    transform: translateY(0);
}

.sheet-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bottomsheet-title {
    padding: 12px 16px;
    flex-shrink: 0;
}

.bottomsheet-title {
    padding-top: 8px;
}

.drag-handle {
    width: 36px;
    height: 4px;
    background: #d0d0d0;
    border-radius: 999px;
    margin: 8px auto 4px;
    touch-action: none;
    cursor: grab;
}

.drag-handle:active {
    cursor: grabbing;
}

.bottomsheet-body {
    overflow-y: auto;
    flex: 1;
    width: 100%;
}

.bottomsheet-button {
    margin-top: 24px;
}