/* =======================
   Page Base
   ======================= */

body {
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

a {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

/* =======================
   Logo
   ======================= */

.logo,
.logo-canvas {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.logo {
    margin: 1.5rem;
}

.rated,
.rated-canvas {
    color: #ffcc00;
}

.rated {
    font-size: 2.5rem;
    margin-right: 0.3em;
}

.by-bibs {
    font-size: 1.5rem;
}