.canvas {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 1080px;
    height: 1920px;
    background: linear-gradient(to bottom, #111419, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-content {
    width: 960px;
    height: 1240px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.canvas-info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#canvas-cover {
    border-radius: 16px;
}

.h1-section {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.h2-section {
    text-align: center;
    font-size: 36px;
}

.platform-text-section {
    font-size: 32px;
    color: #888;
    display: flex;
    align-items: center;
}

.canvas-platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.canva-icon {
    height: 32px;
    width: 32px;
    fill: #888;
}

.rating-section {
    color: #E5A000;
    font-size: 60px;
}

.canvas-logo {
    width: 200px;
}
