/* =======================
   Main Containers
   ======================= */

.sticker-background {}

.story-background {}

.sticker-content {
    width: 480px;
    height: 640px;
    margin: auto;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1f1f1f, #000);
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-content {
    width: 1080px;
    height: 1920px;
    margin: auto;
    background: linear-gradient(to bottom, #151119, #000);
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* =======================
     Game Cover Displays
     ======================= */

.sticker-cover {
    width: 100%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.story-cover {
    width: 615px;
    max-height: 925px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* =======================
     Rating & Info Display
     ======================= */

.rating-section {
    font-size: 30px;
}

.title-section {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.platform-section {
    font-size: 18px;
    color: #888;
    margin-top: 5px;
}

.gaming-id-section {
    font-size: 16px;
    color: #888;
    margin-top: 3px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* =======================
     Image Preview
     ======================= */

#preview img {
    max-width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}


/* =======================
     Section Utilities
     ======================= */

.platform-section img {
    display: block;
}

.gaming-id-section {
    display: flex;
    align-items: center;
}