.canvas {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 1080px;
    height: 1920px;
    background: linear-gradient(to bottom, #151119, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-content {
    width: 960px;
    height: 1240px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#canvas-cover {
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rating-section {
    font-size: 60px;
}

.h1-section {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.h2-section {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.h3-section {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.platform-text-section {
    font-size: 32px;
    color: #888;
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.canvas-info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.canvas-platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#canvas-cover {
    
}